<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.room.name"></h1>
    <ul>
    <li>Date Available: <span data-ng-bind="vm.room.when"></span></li>
    <li>Phone: <span data-ng-bind="vm.room.rent"></span></li>
    <li>Utilites: <span data-ng-bind="vm.room.util"></span></li>
    <li>Other: <span data-ng-bind="vm.room.other"></span></li>
</ul>
  </div>
  <div class="pull-right"
       data-ng-show="vm.room.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="rooms.edit({ roomId: vm.room._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.room.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.room.user"
            data-ng-bind="vm.room.user.displayName"></span>
      <span data-ng-if="!vm.room.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.room.content"></p>
</section>
